<p>Jeito 1</p>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Perfil</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios$ | async">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.idade }}</td>
      <td>{{ usuario.perfil }}</td>

    </tr>
  </tbody>
</table>

<p>Jeito 2</p>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Perfil</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.idade }}</td>
      <td>{{ usuario.perfil }}</td>

    </tr>
  </tbody>
</table>


<p>Jeito 3</p>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Perfil</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios3">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.idade }}</td>
      <td>{{ usuario.perfil }}</td>

    </tr>
  </tbody>
</table>


<p>Jeito 4</p>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Perfil</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios4">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.idade }}</td>
      <td>{{ usuario.perfil }}</td>

    </tr>
  </tbody>
</table>

<p>Jeito 5</p>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Perfil</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios5 | async">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.idade }}</td>
      <td>{{ usuario.perfil }}</td>

    </tr>
  </tbody>
</table>
